body{
    margin: 0;    
}

/* Nav */

.navbar{
    padding: 20px;    
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);    
    z-index: 10;
}

.nav-item{
    margin-left: 2vh;    
}

.nav-item > a {
    font-size: 18px;
    color: white;
}

#netflix-logo-nav{
    width: 20vh;
    height: auto;
}

#icon-button{
    font-size: 22px;
}

/* MovMiddle */

.wrapper-middle{
    height: 100vh;
    background-image: url("./assets/lotr/lotr-return-h.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.wrapper-middle > h2{
    margin-top: 35vh;
    margin-left: 7vh;
    width: 35%;
    text-align: center;
    font-family: 'Ringbearer', serif;
    font-size: 4rem;
    background: linear-gradient(45deg, #FFD700, #FFA500);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}